data
*/*.log
*/*.swp

src/frontend/build
src/frontend/node_modules
src/react-the-answer/build
src/react-the-answer/node_modules/*

src/ExchangeRates/dist
src/ExchangeRates/build

src/TheAnswer/dist
src/TheAnswer/chains.json

src/TheAnswer/.embark
src/TheAnswer/.embark/*
src/TheAnswer/.embark/development
src/TheAnswer/.embark/development/*
src/TheAnswer/.embark/development/js
*.log
