<style type="text/css">
  .reveal .slides { margin-top: 40px; }
  .reveal .slides li { font-size: 1.1em; }
  .reveal p { font-size: 1.1em; }
  .reveal .source { font-size: 0.6em; }
  .reveal sup { font-size: 0.6em; }
  .reveal section img { border: 0 none #fff; box-shadow: 0 0 0 rgba(0, 0, 0, 0.15); }
</style>
